body {
    margin: 0;
    padding: 0;
}

/* override Bootstrap */
p {
    margin-top: 20px;
}

/* nak css */
.nak-bg {
    background-image: url('../images/bg_02.jpg');
    height: 100%;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    z-index: -1;
}

.nak-header {
    text-align: center;
}

.nak-header .nak-title-wrapper .nak-title {
    text-decoration: none;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
}

.nak-face-wrapper {
    border: 12px #fff solid;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-bottom: -140px;
    overflow: hidden;
    transition: 0.3s;
}

.nak-face-wrapper:hover {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.nak-face-wrapper img {
    object-fit: none;
    object-position: center;
    height: 176px;
    width: 176px;
    border-radius: 50%;
    opacity: 1;
    transition: 0.3s;
}

.nak-face-wrapper img:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.nak-content {
    margin: 30px auto;
    width: 980px;
}

.nak-content .nak-content-top { text-align: center; padding: 120px 30px 30px; }
.nak-content .nak-content-top a.email { font-size: 2rem; text-decoration: none; color: #EF6C00; }
.nak-content p { font-size: 2rem; text-align: left; }

.nak-post-container {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

.nak-post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nak-post-list li {
    padding: 15px 0;
    border-bottom: #ddd solid 1px;
}

.nak-post-list .nak-post-link {
    color: #333;
    font-size: 21px;
    text-decoration: none;
}

.nak-post-list .nak-post-right-item {
    color: #ccc;
    float: right;
    font-size: 14px;
}

.white-box {
    margin: 10px 0 20px 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.white-box-title {
    border-bottom: #EF6C00 solid 1px;
    color: #EF6C00;
    display: block;
    font-size: 24px;
    font-weight: 300;
    line-height: 48px;
    width: 100%;
}

@media (max-width: 1050px) {
    .nak-content {
        margin: 30px 2%;
        width: 96%;
    }
}

@media (min-width: 550px) {
    h1 { font-size: 5.0rem; }
    h2 { font-size: 4.2rem; }
    h3 { font-size: 3.6rem; }
    h4 { font-size: 3.0rem; }
    h5 { font-size: 2.4rem; }
    h6 { font-size: 1.5rem; }
}